html {
    font-size: 22px
}

body {
    background-color: #333;
    font-family: 'Times New Roman', sans-serif;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

a {
    color: aliceblue;
}

a:visited {
    color: #999;
}

a:hover, a:active {
    color: #eee;
}

table, tr, th, td, caption {
    border: 1px solid #555;
    border-collapse: collapse;
    padding: 0.5rem;
}